<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<title>test</title>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="msapplication-tap-highlight" content="no" />
	
<!--
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
-->
    
    
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body class="on">
    <div class="msg"></div>
    <a href="#" class="setting">Effect: </a>
    <div class="outer">
        <% for(i = 0; i < 50; i++){ %>
            <h1>outer</h1>
        <% } %>
        
        <div class="inner">
            <% for(i = 0; i < 100; i++){ %>
                <h1>inner</h1>
            <% } %>
        </div>
        
        <% for(i = 0; i < 50; i++){ %>
            <h1>outer</h1>
        <% } %>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        /* --------------------------------------------------
        
        	stuff
        	
        -------------------------------------------------- */
        var Data = (function() {
            
            var jk = {};

            return jk;
        })();
        $(function () {

            let _scrolling = false;
            window.onscroll = function (e) {
                _scrolling = true;
            }
            setInterval(function(){
                
                $(".msg").html("Window Scrolling: " + _scrolling);
                
                if(!_scrolling) {
                    $(".inner").addClass("on");
                } else {
                    $(".inner").removeClass("on");
                    _scrolling = false;
                }
                
            }, 100); 
            
            $(".setting").on("click", this, function(e){
                e.preventDefault();
                $("body").toggleClass("on");
            })
        });
    </script>
</body>
</html>