<div class="card--wrapper">
    <div class="card">
        <div class="button--action">
            <%- include("assets/button--confetti.svg") %>
        </div>

        <h1>Get Some Button Love</h1>
        <p>SVG/CSS only confetti button</p>
        <p><small>&copy; 2018 &mdash; <a href="http://emptycan.com">emptycan.com</a>, <a href="https://github.com/jessekorzan/confetti-button">GitHub</a></small></p>
    </div>
</div>
